/* Guillermo Soto ====================================================================================== */

/* Panels ============================================================================================== */
/* Cards =============================================================================================== */

.price-label {
    color: var(--secondary-color) !important;
    font-weight: normal;
    font-size: 0.85rem;
}