/* Guillermo Soto ====================================================================================== */

/* Hero ================================================================================================ */

.hero-section {
    background: url('../../public/images/not_found/engine.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 80vh;
}