/* Guillermo Soto ====================================================================================== */

/* Hero ================================================================================================ */

.hero-section {
    background: url('/images/index/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 80vh;
}

/* Services ============================================================================================ */

.service-image-container img {
    min-height: 400px;
    border: 1px solid var(--secondary-color);
}

.service-box {
    background-color: var(--primary-light-color);
    transition: all 0.3s ease;
    border-color: var(--secondary-color) !important;
}

.service-box:hover {
    transform: translateX(10px);
}

/* Carousel ============================================================================================ */

/*.internal-frame,*/
.carousel-item {
    border: 1px solid var(--secondary-color);

    & img {
        height: 600px;
        object-fit: cover;
    }

}

/* Road Carousel ======================================================================================= */

.road-carousel-container {
    width: 250px;
    height: 540px;
    overflow: hidden;
    /* Hide images out of area */
    position: relative;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.road-carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.road-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    /* Position down by default */
    transform: translateY(100%);
    z-index: 0;
    transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Place at the top - Hidden action */
.road-image.prepare-above {
    transform: translateY(-100%);
    opacity: 0;
    transition: none !important;
    z-index: 0;
}

/* Active status: image scrolls down */
.road-image.active-road-image {
    transform: translateY(0%);
    z-index: 2;
    transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Exit status: image scrolls down out of visible area */
.road-image:not(.active-road-image):not(.prepare-above) {
    transform: translateY(100%);
    z-index: 1;
}

/* Adjust images depending on screen size */
@media (max-width: 768px) {
    
    .hero-section {
        height: 50vh;
        min-height: 50vh;
    }

    .carousel-item img {
        height: 300px; 
    }
}

@media (max-width: 576px) {
    .hero-section {
        height: 40vh;
        min-height: 40vh;
    }
    
    .carousel-item img {
        height: 250px; 
    }
}