/* Guillermo Soto ====================================================================================== */

/* Custom Palette Variables ============================================================================ */

:root {
    --primary-color: #343434;
    --primary-light-color: #444444;
    --secondary-color: #F0A202;
    --cta-color: #7B9E89;
}

/* Global Styles ======================================================================================= */

* {box-sizing: border-box;}

body {
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
}

@font-face {
    font-family: 'EliteDrive-Font-h1';
    src: url('../fonts/doctor_glitch.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: 'EliteDrive-Font-h1';
    letter-spacing: 1px;

    background: linear-gradient(var(--primary-color) 60%, var(--secondary-color) 80%);

    -webkit-background-clip: text;
    background-clip: text;
    
    -webkit-text-fill-color: transparent;
    color: transparent; 
}

@font-face {
    font-family: 'EliteDrive-Font';
    src: url('../fonts/zenitha_classic.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h2, h3, h4 {
    font-family: 'EliteDrive-Font';
    letter-spacing: 1px;
}

/* Navbar ============================================================================================== */

.navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: var(--secondary-color);
}

.navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar .nav-link {
    color: var(--secondary-color);;
}

.navbar .nav-link:hover{
    color: white;
}

/* Buttons and Colors ================================================================================== */

.bg-primary-cta {
    background-color: var(--cta-color);
    color: white;
    border: none;
    transition: 0.3s;
}

.bg-primary-cta:hover {
    background-color: white;
    color: var(--cta-color);
}

/* Cards =============================================================================================== */

.card {
    transition: transform 0.3s ease, shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}

/* Modals Custom Styles ================================================================================ */

.modal-content, .modal-header {
    border-radius: 0 !important; /* Modals are rounded by default */
    border: 1px solid var(--secondary-color);
}

.modal-content {
    background-color: var(--primary-light-color);
    color: white;
}

.modal-header {
    background-color: var(--primary-color);
}

.modal-header .modal-title {
    color: var(--secondary-color);
}

.modal-header .btn-close {
    filter: invert(1);
}

/* Footer ============================================================================================== */

footer {
    background-color: var(--secondary-color);
    color: white;

    & a {
        text-decoration: none !important;
        color: white;
        transition: color 0.3s ease;
    }

    & a:hover {
        color: var(--primary-color) !important;
    }
}
