/* Guillermo Soto ====================================================================================== */

/* Custom Palette Variables ============================================================================ */

:root {
    --primary-color: #343434;
    --primary-light-color: #444444;
    --secondary-color: #F0A202;
    --cta-color: #7B9E89;
}

/* Global Styles ======================================================================================= */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
}

@font-face {
    font-family: 'EliteDrive-Font-h1';
    src: url('../fonts/doctor_glitch.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: 'EliteDrive-Font-h1';
    letter-spacing: 1px;

    background: linear-gradient(var(--primary-color) 60%, var(--secondary-color) 80%);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;

    -webkit-text-stroke: 0.5px var(--secondary-color);
}

@font-face {
    font-family: 'EliteDrive-Font';
    src: url('../fonts/zenitha_classic.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h2,
h3,
h4 {
    font-family: 'EliteDrive-Font';
    letter-spacing: 1px;
}

/* Navbar ============================================================================================== */

.navbar {
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.navbar-brand {
    color: var(--secondary-color);
}

.navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar .nav-link {
    color: var(--secondary-color);
    ;
}

.navbar .nav-link:hover {
    color: white;
}

/* Buttons ============================================================================================= */

.bg-primary-cta {
    background-color: var(--cta-color);
    color: white;
    border: none;
    transition: 0.3s;
}

.bg-primary-cta:hover {
    background-color: white;
    color: var(--cta-color);
}

/* Colors ============================================================================================== */

.color-secondary {
    color: var(--secondary-color);
}

/* Panels & Tabs ======================================================================================= */

.nav-tabs .nav-link.bg-tab {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.nav-tabs .nav-link.bg-tab:hover {
    background-color: var(--primary-light-color);
    color: white;
    border-color: var(--secondary-color);
}

.nav-tabs .nav-link.bg-tab.active {
    background-color: var(--primary-light-color) !important;
    color: white !important;
    border-color: var(--secondary-color) !important;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: none;
}

.panel-content,
.panel-header {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

.panel-content {
    background-color: var(--primary-light-color);
    color: white;
}

.panel-header .panel-title {
    color: var(--secondary-color);
}

.panel-header .btn-close {
    filter: invert(1);
}


/* Cards =============================================================================================== */

.card,
.card-img-top {
    border-radius: 0 !important;
}

.card {
    background-color: var(--primary-light-color);
    color: white;
    border: 1px solid var(--secondary-color);
    transition: transform 0.3s ease, shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

.inner-panel-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

/* Modals Custom Styles ================================================================================ */

.modal-content,
.modal-header {
    border-radius: 0 !important;
    /* Modals are rounded by default */
    border: 1px solid var(--secondary-color);
}

.modal-content {
    background-color: var(--primary-light-color);
    color: white;
}

.modal-header, .modal-footer {
    background-color: var(--primary-color);
}

.modal-header .modal-title {
    color: var(--secondary-color);
}

.modal-header .btn-close {
    filter: invert(1);
}

/* Cart ================================================================================================ */

#cartModal .list-group-item {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

/* Footer ============================================================================================== */

footer {
    background-color: var(--secondary-color);
    color: white;

    & a {
        text-decoration: none !important;
        color: white;
        transition: color 0.3s ease;
    }

    & a:hover {
        color: var(--primary-color) !important;
    }
}